* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html body {
  background: #fafafa;
  width: 100%;
}

html body .App {
  width: 100%;
  position: relative;
}
